@import url('https://fonts.googleapis.com/css?family=Raleway:300');

body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}

.barra_superior {
  border-bottom: 1px solid rgb(204, 204, 204);
  color: rgb(27, 25, 25);
  font-size: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

nav {
  color: rgb(187, 187, 187);
  font-size: 18px;
  float: right;
  margin-top: 20px;
}

nav a {
  color: rgb(187, 187, 187);
  text-decoration: none;
}

.btn_destaque {
  background-color: rgb(255, 77, 77);
  color: white;
  padding: 12px 40px;
  border-radius: 3px;
  margin-left: 25px;
  font-size: 14px;
  text-decoration: none;
}

.sec01 {
  height: 640px;
  color: black;
  background-image: url('../img/chicago.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.sec01 p.titulo {
  font-size: 30px;
  padding-top: 100px;
  margin-left: 15px;
}

.sub_titulo {
  margin-left: 15px;
}

.sec01 p {
  font-size: 24px;
  padding-bottom: 15px;
  padding-left: 15px;
}



.sec02 {
  border-bottom: 1px solid rgb(204, 204, 204);
}

.sec02 p {
  font-size: 28px;
  text-align: center;
}

.sec02 img {
  width: 100%;
}

.sec03 {
  background-color: rgb(239, 243, 249);
  height: 664px;
}

.sec03 p{
  font-size: 40px;
  padding-left: 10px;
  padding-top: 150px;
}


.metade_1 {
  text-align: center;
  width: 40%;
  float: left;
}

.metade_2 {
  width: 60%;
  float: left;
}

.metade_img {
  background-image: url('../img/clear_sky.jpg');
  background-position: right;
  height: 100%;
}

.clearfix {
  clear: both;
}

.direitos {
  background-color: rgb(255, 77, 77);
  color: white;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 45px;
  height: 40px;
  font-size: 16px; 
}

.direitos a {
  color: white;
  text-decoration: none;
}

.rodape_logo {
  float: left;
  width: 100%;
  text-align: center;
  height: 150px;
}

.rodape_logo img{
  width: 200px;
}

.rodape_logo, .rodape_logo a {
  color: rgb(136, 136, 136)
}
.social {
  padding-left: 570px;
}

.social img{
  width: 50px;
}

.sec_form {
  height: 400px;
}

.titulo_form {
  font-size: 26px;
  text-align: center;
}

.form_metade {
  width: 50%;
  float: left;
  text-align: initial;
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 150%;
}

.form_metade fieldset {
  height: 400px;
}

.form_metade address {
  padding-top: 25px;
  padding-left: 20px;
  line-height: 300%;
}

.form_metade input, textarea {
  border: none;
  border-bottom: 1px solid lightgray;
  width: 95%;
  padding: 5px;
}

.form_metade textarea {
  min-height: 120px;
  max-height: 120px;
  max-width: 95%;
}

.form_metade input[type=submit] {
  background-color: rgb(255, 77, 77);
  color: white;
  padding: 8px 20px;
  border-radius: 3px;
  margin-left: 25px;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  margin-left: 120px;
  width: 200px;
}

.form_metade label {
  width: 70px;
  display: block;
}

@media screen and (max-width: 480px) {
  .logo_topo {
    width: 100%;   
  }
  nav {
    font-size: 10px;
  }
  
}

central {
  text-align: center;
  align-content: center;
}

.modal {
  position: fixed;
  width: 500px;
  height: 300px;
  background-color: aliceblue;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -250px;
  padding: 20px;
}

.modal input[type=email] {
  border: none;
  border-bottom: 1px solid lightgray;
  width: 95%;
  padding: 5px;
  background-color: inherit;
}

.close {
  float: right;
  text-decoration: none;
  color: black;
}